@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Carousel Dot customize */
.react-multi-carousel-dot button{
  width: 12px;
  height: 12px;
  background-color: gray !important;
  border:1px solid transparent !important
}
.react-multi-carousel-dot--active button{
  width: 14px;
  height: 14px;
  background-color: #db4444 !important;
  border: 2px solid white!important
}


/* Dashboard Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}